---
const year = new Date().getFullYear();
---
<footer class="mt-8 pb-8 pt-8 border-t border-zinc-200 dark:border-zinc-800">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 flex flex-col lg:flex-row justify-between items-center gap-4 text-sm text-zinc-600 dark:text-zinc-400">
    
    <p class="shrink-0">
      &copy; {new Date().getFullYear()} Quentin Guimard. All rights reserved.
    </p>
    
    <p class="text-center lg:text-right">
      Built with <a href="https://astro.build" target="_blank" rel="noopener noreferrer" class="hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors underline underline-offset-4">Astro</a> & <a href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer" class="hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors underline underline-offset-4">Tailwind</a>. 
      <br class="lg:hidden" />
      Like this site? <a href="https://github.com/mardgui/mardgui.github.io" target="_blank" rel="noopener noreferrer" class="font-medium hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors underline underline-offset-4">Steal the template on GitHub</a>.
    </p>

  </div>
</footer>